<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <header>
    <nav class="nav">
      <a href="/">Bookme</a>
      <a href="/catalog">Browse</a>
      <a href="/about">About</a>
      {{#if hasUser}}
      <span>Welcome, {{username}}</span>
      <a href="/create">Host</a>
      <a href="/facility/create">Create Facility</a>
      <a href="/auth/logout">Logout</a>
      {{else}}
      <a href="/auth/login">Login</a>
      <a href="/auth/register">Register</a>
      {{/if}}
    </nav>
  </header>

  {{#if error}}
  <div class="error-container">
    {{#each error.messages}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  {{/if}}

  <main>
    {{{body}}}
  </main>

  <footer>
    Radoslav Dimchev &copy; 2022
  </footer>
</body>

</html>