<section>
  <h1>Catalog</h1>

  {{!-- <form class="aligned" method="get">
    <label><span>Location</span><input type="text" name="city" value="{{city}}"></label>
    <label><span>Terms</span><input type="text" name="search" value="{{search}}"></label>
    <label><span>From price</span><input type="number" name="fromPrice" value="{{fromPrice}}" min="1" max="1000"></label>
    <label><span>To price</span><input type="number" name="toPrice" value="{{toPrice}}" min="1" max="1000"></label>
    <button>Search</button>
  </form> --}}

  {{#if rooms}}
  <ul>
    {{#each rooms}}
    {{>roomCard}}
    {{/each}}
  </ul>
  {{else}}
  <div>
    <p>Nothing here yet. Be the first!</p>
    <a href="/create">Host Accommodation</a>
  </div>
  {{/if}}
</section>