<section>
  <h1>{{room.name}}</h1>
  <div>
    <img class="img" src="{{room.imgUrl}}" alt="room image">
  </div>
  <div>
    <p>Facilities:</p>

    <form action="/facility/{{room._id}}/decorateRoom" method="post">
      <ul>
        {{#each facilities}}
        <li><label><input type="checkbox" name="{{_id}}" {{#if checked}}checked{{/if}}> {{label}} <img class="facility-icon" src="{{iconUrl}}"
              alt="icon"></label></li>
        {{/each}}
      </ul>
      <button>Confirm Facilities</button>
    </form>
  </div>
</section>