<section class="container">
  <form action="/room/{{room._id}}/delete" method="post">
    <h1>Delete Accommodation</h1>
    {{#with room}}
    <label>Name</label>
    <input type="text" name="name" value="{{name}}" disabled>
    <label>City</label>
    <input type="text" name="city" value="{{city}}" disabled>
    <label>Beds</label>
    <input type="number" name="beds" value="{{beds}}" disabled>
    <label>Price per night</label>
    <input type="number" name="price" value="{{price}}" disabled>
    <label>Image URL</label>
    <input type="text" name="imgUrl" value="{{imgUrl}}" disabled>
    <label>Description</label>
    <textarea type="text" name="description" disabled>{{description}}</textarea>
    <button class="btn">Delete</button>
    {{/with}}
  </form>
</section>