<section>
  <h1>Delete Accommodation</h1>

  {{#if error}}
  <div>
    {{#each error}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  {{/if}}

  <form class="aligned" action="/room/{{room._id}}/delete" method="post">
    {{#with room}}
    <label><span>Name</span><input type="text" name="name" value="{{name}}" disabled></label>
    <label><span>City</span><input type="text" name="city" value="{{city}}" disabled></label>
    <label><span>Beds</span><input type="number" name="beds" value="{{beds}}" disabled></label>
    <label><span>Price per night</span><input type="number" name="price" value="{{price}}" disabled></label>
    <label><span>Image URL</span><input type="text" name="imgUrl" value="{{imgUrl}}" disabled></label>
    <label><span>Description</span><textarea type="text" name="description" disabled>{{description}}</textarea></label>
    <button>Delete</button>
    {{/with}}
  </form>
</section>