<section>
  {{#with room}}
  <h1>{{name}} Details</h1>
  <p>{{description}}</p>
  <p>Price per night: {{price}}€</p>
  <div>
    {{#if imgUrl}}
    <img class="img" src="{{imgUrl}}" alt="room image">
    {{/if}}

  </div>
  <ul>
    {{#each facilities}}
    <li>{{label}} <img class="facility-icon" src="{{iconUrl}}" alt="icon"></li>
    {{/each}}
  </ul>

  {{#if isOwner}}
  <a href="/room/{{_id}}/edit">Edit</a>
  <a href="/facility/{{_id}}/decorateRoom">Facilities</a>
  <a href="/room/{{_id}}/delete">Delete</a>
  {{/if}}

  {{/with}}
</section>